@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*,
*:before,
:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    width: 50px;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 4px;
    border: 2px solid grey;
    outline: none;
    font-family: 'Fira Sans', sans-serif;
}

.main-container {
    border: 2px solid grey;
    padding: 15px;
    border-radius: 5px;
    background-color: #d9dbdd;
    display: grid;
    max-width:min-content;
    /* /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: min-max(1fr, auto) repeat(5, 1fr); */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-max(1fr, auto) repeat(5, 1fr);
    gap: .4rem;
    
}

.clear {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 98%;
}

button.clear {
    background-color: #f77e7e;
    border: 2px solid #d13f3f;
}

button.clear:hover {
    background-color: #e57777;
}

button.clear:active {
    background-color: #ce6767;
}
button.delete {
    background-color: #fcc68f;
    border: 2px solid #e68a2f;
}

button.delete:hover {
    background-color: #eab988;
}

button.delete:active {
    background-color: #cc9e70;
}

button.numbers {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
    border: 2px solid #c9c9c9
}

button.numbers:hover {
    background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgb(213, 213, 213) 100%);
}

button.numbers:active {
    background: linear-gradient(180deg, rgba(212,212,212,1) 0%, rgba(179,179,179,1) 100%);
}

.delete {
    grid-column-start: 3;
    grid-column-end: 5;
    width: 98%;
}

.inner-screen {
    font-family: 'Dangrek', sans-serif;
    font-size: 1.2rem;
    background-color: #f2fbfc;
    max-width: 100%;
    min-height: 5.3rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    border-radius: 5px;
    border: 2px solid rgb(133, 133, 133);
    padding: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.equals {
    background: linear-gradient(180deg, rgb(146, 146, 146) 0%, rgb(84, 83, 83) 100%);
    border: 2px  solid rgb(95, 95, 95);
    color: white;
}

.equals:hover  {
    background: linear-gradient(180deg, rgba(159,159,159,1) 0%, rgba(121,121,121,1) 100%);
}

.equals:active {
    background: linear-gradient(180deg, rgb(104, 104, 104) 0%, rgb(72, 72, 72) 100%);
}

.operations {
    background: linear-gradient(180deg, rgba(191,191,191,1) 0%, rgba(144,144,144,1) 100%);
}

.operations:hover {
    background: linear-gradient(180deg, rgba(159,159,159,1) 0%, rgba(121,121,121,1) 100%);
}

.operations:active {
    background: linear-gradient(180deg, rgb(104, 104, 104) 0%, rgb(72, 72, 72) 100%);
}

.previousNum {
    font-size: 1.2rem;
    color: rgba(0,0,0,.50)
}

.currentNum {
    font-size: 1.6rem;
}

button.disabled:hover {
    background-color: #dfe2e5;
}

button.disabled {
    border-color:rgb(231, 231, 231)
}